<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/components/product-listing/product.css" />
    <!-- <link rel="stylesheet" href="/utilities.css" /> -->
    <link rel="stylesheet" href="./rootwishlist.css" />
    <link rel="stylesheet" href="./wishlist.css" />
    <title>Vilvah | Skin</title>
  </head>
  <body>
    <header class="flex-sa">
      <h1 class="arima_madurai vilvah-green">
        <a href="/index.html" class="arima_madurai vilvah-green"> Vilvah</a>
      </h1>

      <input
        class="input-items arima_madurai_100"
        type="text"
        placeholder="Search for products"
      />
      <ul class="arima_madurai_100">
        <li>
          <a href="/components/product-listing/wishlistPage/wishlist.html"
            >Wishlist</a
          >
        </li>
        <li><a href="/components/cart/cart.html">Cart</a></li>
        <li><a href="/authentication/signUpPage/signup.html">Profile</a></li>
        <li><a href="/authentication/loginPage/login.html">Login</a></li>
      </ul>
    </header>
    <section class="category flex-sa flex-gap zindex-1">
      <a href="">
        <span class="items">FACE</span>
      </a>
      <a href="/components/product-listing/product.html"
        ><span class="items">BODY</span></a
      >
      <a href="/components/product-listing/product.html"
        ><span class="items">HAIR</span></a
      >
      <a href="/components/product-listing/product.html"
        ><span class="items">MEN</span></a
      >
      <a href="/components/product-listing/product.html"
        ><span class="items">COMBOS</span></a
      >
      <a href="/components/product-listing/product.html"
        ><span class="items">SPECIAL</span></a
      >
      <a href="/components/product-listing/product.html"
        ><span class="items">LIFE</span></a
      >
      <a href="/components/product-listing/product.html"
        ><span class="items">BLOG</span></a
      >
    </section>
    <div class="flex-wrap flex-row flex-justify-content-center">
      <section class="product-container flex-row flex-justify-content-center">
        <div class="card-ecom card">
          <img
            src="/assets/aloeveraimg.JPG"
            alt="iPhone Image"
            class="card-img card-img-ecom"
          />
          <div class="card-ecom-like-icon">
            <i class="fa fa-heart" style="color: var(--dk-red)"></i>
          </div>
          <div class="card-header">
            <div class="card-sub-title">Face</div>
            <div class="card-title">Aloevera Gel</div>
            <div class="card-ecom-price">
              <span class="card-ecom-price-current">Rs. 470</span>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-btn-box">
              <button class="card-btn default-primary">GO TO CART</button>
            </div>
          </div>
        </div>
        <div class="card-ecom card">
          <img
            src="/assets/aloeveraimg.JPG"
            alt="iPhone Image"
            class="card-img card-img-ecom"
          />
          <div class="card-ecom-like-icon">
            <i class="fa fa-heart" style="color: var(--dk-red)"></i>
          </div>
          <div class="card-header">
            <div class="card-sub-title">Face</div>
            <div class="card-title">Aloevera Gel</div>
            <div class="card-ecom-price">
              <span class="card-ecom-price-current">Rs. 470</span>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-btn-box">
              <button class="card-btn default-primary">GO TO CART</button>
            </div>
          </div>
        </div>
        <div class="card-ecom card">
          <img
            src="/assets/aloeveraimg.JPG"
            alt="iPhone Image"
            class="card-img card-img-ecom"
          />
          <div class="card-ecom-like-icon">
            <i class="fa fa-heart" style="color: var(--dk-red)"></i>
          </div>
          <div class="card-header">
            <div class="card-sub-title">Face</div>
            <div class="card-title">Aloevera Gel</div>
            <div class="card-ecom-price">
              <span class="card-ecom-price-current">Rs. 470</span>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-btn-box">
              <button class="card-btn default-primary">GO TO CART</button>
            </div>
          </div>
        </div>
        <div class="card-ecom card">
          <img
            src="/assets/aloeveraimg.JPG"
            alt="iPhone Image"
            class="card-img card-img-ecom"
          />
          <div class="card-ecom-like-icon">
            <i class="fa fa-heart" style="color: var(--dk-red)"></i>
          </div>
          <div class="card-header">
            <div class="card-sub-title">Face</div>
            <div class="card-title">Aloevera Gel</div>
            <div class="card-ecom-price">
              <span class="card-ecom-price-current">Rs. 470</span>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-btn-box">
              <button class="card-btn default-primary">GO TO CART</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
